@import "tailwindcss";


@import "swiper/css";
@import "swiper/css/pagination";

.swiper-pagination-bullet {
    background-color: #04786b !important;
    opacity: 0.3 !important;
}

.swiper-pagination-bullet-active {
    background-color: #04786b !important;
    opacity: 1 !important;
}